body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-weight: 800;
}

.leaflet-container {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 400;
}

.map {
  position: absolute;
  height: 100%;
  width: 100%;
}

#console {
  position: absolute;
  margin: 10px;
  width: 320px;
  background-color: white;
  padding: 10px 20px;
  opacity: 1;
}

.session {
  margin-bottom: 20px;
}


.row {
  height: 12px;
  width: 100%;
}
  
.tempcolors {
  background: linear-gradient(
  to right,
  #2171b5,
  #4292c6,
  #feb24c,
  #fd8d3c,
  #fc4e2a,
  #e31a1c,
  #bd0026,
  #800026
  );

  margin-bottom: 5px;
}

.preccolors {
  background: linear-gradient(
  to right,
  #e5f5e0,
  #c7e9c0,
  #a1d99b,
  #74c476,
  #41ab5d,
  #238b45,
  #005a32,
  #00441b
  );
  
  margin-bottom: 5px;
}

.label {
  width: 12%;
  display: inline-block;
  text-align: justify;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}