		body {
			margin: 0;
			padding: 0;
      overflow: hidden;
		}

    /* .leaflet-container {
      font-family: "Work Sans", sans-serif;
      font-size: 0.9rem;
      line-height: 1.4rem;
      font-weight: 400;
    } */

    /* #map {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
    } */

    .map {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    #before {
      
    }
    
    #after {
      
    }